<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GitHubAPI" value="https://api.github.com" />
    <add key="GitHubBuilderURL" value="https://github.com/jasondentler/GitHubBuilder" />
    <add key="GitHub.UserName" value="jasondentler@gmail.com"/>
    <add key="GitHub.Password" value="chuck64zilch"/>
    <add key="Repository.User" value="code52"/>
    <add key="Repository.Name" value="downmarkerWPF"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="JsonFx" publicKeyToken="315052dd637f8a52" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1209.923" newVersion="2.0.1209.923" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>